<div class="container">
  <div class="row">    
    <h1>New Company</h1>
  </div>
  <div class="row">
    <div class="col-1 backbutton">
            <a [routerLink]="['/companies/list']">
              <button class="btn btn-primary"> Back </button>
            </a>
    </div>
    <div class="col-8 newcompanycont">
      <!-- <div *ngIf="!session.getUser()"> -->
      <form (ngSubmit)="submitForm(newcompany)" #newcompany="ngForm">
        <br>
        <h2> Company: </h2> 
        <label> Ticker Name </label>
        <input style="margin-left: 20px;" type="text" #newcompanytickername="ngModel" [(ngModel)]="tickerName" name="tickerName" minlength="1">
        <br>
        <label> Ticker Description </label>
        <input style="margin-left: 20px;" type="text" #newcompanytickerdescription="ngModel" [(ngModel)]="newcompany.tickerDescription" name="tickerDescription"
          minlength="1" />
        <br>
        <label> Starting Market Capitalization </label>
        <input style="margin-left: 20px;" type="number" #newcompanymktcap="ngModel" [(ngModel)]="newcompany.mktCap" name="mktCap" minlength="1" />
        <br>
        <label> Total Shares </label>
        <input style="margin-left: 20px;" type="number" #newcompanytotalshares="ngModel" [(ngModel)]="newcompany.totalShares" name="totalShares" minlength="1"
        />
        <br>
        <label> Percentage Offering </label>
        <input style="margin-left: 20px;" type="number" #newcompanypercentage="ngModel" [(ngModel)]="newcompany.percentage" name="percentage" minlength="1"/>
        <br>
        <br>
        <label> Shares Offering </label>
        <input style="margin-left: 20px;" type="number" #newcompanyavbshares="ngModel" [(ngModel)]="newcompany.avbShares" name="avbShares" minlength="1" />
        <br>
        <br>
        <label> Starting Price </label>
        <input style="margin-left: 20px;" type="number" #newcompanytickerprice="ngModel" [(ngModel)]="newcompany.tickerPrice" name="tickerPrice" minlength="1"/>
        <br>
        <label> Company Logo </label>
        <input style="margin-left: 20px;" type="url" #newcompanytickerimg="ngModel" [(ngModel)]="newcompany.tickerImg" name="tickerImg" minlength="3" pattern="https?://.+">
        <div>
          <button class="btn btn-warning" type= "submit"> Save </button>
        </div>
      </form>
    </div>
    <div class="col-3"></div>
    </div>

  <div *ngIf="newcompanytickername.errors && (newcompanytickername.dirty || newcompanytickername.touched)">
    <small class="error"> Name must be at least 3 characters long. </small>
  </div>
  <div *ngIf="newcompanytickerdescription.errors && (newcompanytickerdescription.dirty || newcompanytickerdescription.touched)">
    <small class="error"> Description must be at least 1 characters long. </small>
  </div>
  <div *ngIf="newcompanymktcap.errors && (newcompanymktcap.dirty || newcompanymktcap.touched)">
    <small class="error"> Market Capitalization must be at least 1 characters long. </small>
  </div>
  <div *ngIf="newcompanytotalshares.errors && (newcompanytotalshares.dirty || newcompanytotalshares.touched)">
    <small class="error"> Total Shares must be at least 1 characters long. </small>
  </div>
  <div *ngIf="newcompanypercentage.errors && (newcompanypercentage.dirty || newcompanypercentage.touched)">
    <small class="error"> Percentage must be at least 1 characters long. </small>
  </div>
  <div *ngIf="newcompanyavbshares.errors && (newcompanyavbshares.dirty || newcompanyavbshares.touched)">
    <small class="error"> Available shares must be at least 1 characters long. </small>
  </div>
  <div *ngIf="newcompanytickerprice.errors && (newcompanytickerprice.dirty || newcompanytickerprice.touched)">
    <small class="error"> Price must be at least 1 characters long. </small>
  </div>
  <div *ngIf="newcompanytickerimg.errors && (newcompanytickerimg.dirty || newcompanytickerimg.touched)">
    <small class="error"> Image url must be at least 3 characters long. </small>
  </div>

  <div>
    <p *ngIf="error" class="error"> {{ error }} </p>
  </div>
</div>