<div class="home">
  <section class="edificios">
    <div class="container-flex">
        <div class="row">
            <div class="col-12">
                <h1>THE STOCK MARKET OF STARTUPS</h1>
            </div>
          </div>
    </div>
    <div class="container-flex">
        <div class="row">
            <div class="col-12 frasedos">
                <i><h3>Trade stocks of privately held companies.</h3></i>
            </div>
          </div>
    </div>
    <div class="container-flex frasetres">
        <div class="row">
            <div class="col-12">
                <i><h3>Leading indicator of performance.</h3></i>
            </div>
          </div>
    </div>


  </section>
</div>
<div>
  <p *ngIf="error" class="error"> {{ error }} </p>
</div>
