.xxx {
  margin: 0;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to bottom, #000 , #111E25);
  font-family: 'Lato', sans-serif;
}

a{
    color: white; 
}

p{ 
    color: white; 
}

hr{
    background: rgba(255, 255, 255, 0.411); 
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    height: 1px;
}

.barra{
    width: 93%;
    margin-left: 3%;
    margin-top: 0px;
}

.navline{
    background-color: #9B9B9B;
    height: 1px;
    width: 93%;
    margin-left: 3%;
}

.topnav{
    display:flex;
    width: 100%;
}

.topnav>div>a {
    color: white;
    text-align: center;
    padding-top: 10px; 
    padding-bottom: 5px;
    padding-right: 30px;
    text-decoration: none;
    background-color: none;
    font-weight: bold;
    box-shadow: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: none;
    
}
.left{
    width: 33.33%;
    display:flex;
    padding-left:3.5%;
}
.center{
    width: 33.33%;
    display:flex;
    justify-content: center;
}
.right{
    width: 33.33%;
    display:flex;
    justify-content: flex-end;
    padding-right:5%;
    padding-left: 5%;
    padding-top:12px; 

}
.topnav>div>a:hover {
    background-color: none;
    box-shadow: none;
    color: rgb(33, 206, 153); 
}

ul.topnav li a:hover:not(.active) {background-color: none;}

ul.topnav li a.active {background-color: #21CE99;}


.teal{
    padding: none;
    display:flex;
    width: 100%;
    margin-top: 1%;
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 1%;
  }

.footer-logo{
    margin-left: 1%;
    margin-top: 1%;
  }
  .footer-caption{
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
  }
  
  .social{
    margin-right: 1%;
    color: white;
  }
  
  .dev-profile{
    color: grey;;
    font-size: 15px;
    font-weight: none;
  }
  
  .dev-profile:hover{
    background-color: none;
    text-decoration-style: none;
    text-decoration-line: none;
    box-shadow: none;
    color: #21CE99; 
  }
  
  .lower-bar{
    text-align: center;
    color: rgb(151, 151, 151); 
    font-size: 12px;
    font-weight: bold;
    box-shadow: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: none;
    margin-top: 3%
  }
  
  .footer-copyright{
    width: 100%;
    margin-bottom: 0;
  }
  
  .container{
    max-width: 1406px;
  }

  ul{
      list-style: none; 
      margin:0;
      padding: 0;
  }

  .dngr{
      border-radius: 40px;
  }
  
@media screen and (max-width: 600px){
    .topnav{
        flex-direction: column;
    }
    .left{
        width: 100%;
        padding-left:0;
        justify-content: center;
    }
    .center{
        width: 100%;
        justify-content: center;
    }
    .right{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding-right:0;
    }
}

