<div class="container">
  <div class="row">
    <h1> Login Page </h1>
    <br>
  </div>

<div class="row">
  <div class="col-2"></div>
  <div class="col-4">
    <div *ngIf="!session.getUser()">
      <form>
        <h2> Login </h2>
        <label> Username </label>
        <input type="text" [(ngModel)]="username" name="username"/>
        <br>
        <label> Password </label>
        <input type="password" [(ngModel)]="password" name="password"/>
        <div>
          <button class="btn btn-success" (click)="login()"> login </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-4">
    <div *ngIf="!session.getUser()">
    <form>
      <h2> Register </h2>
      <div>
      <label> Name </label>
      <input type="text" [(ngModel)]="name" name="name"/>
      <br>
      <label> Surname </label>
      <input type="text" [(ngModel)]="surname" name="surname"/>
      <br>
      <label> Email Address </label>
      <input type="text" [(ngModel)]="email" name="email"/>
      <br>
      <label> New Username </label>
      <input type="text" [(ngModel)]="newusername" name="newusername"/>
      <br>
      <label> New Password </label>
      <input type="password" [(ngModel)]="newpassword" name="newpassword"/>
      <div>
      <button class="btn btn-primary" (click)="signup()"> Create New Account </button>
    </div>
  </div>
  </form>

  </div>
  <div class="col-2"></div>
</div>
</div>

<div *ngIf="session.getUser()">
    <button (click)="logout()"> Logout </button>
</div>

<div>
  <p *ngIf="error" class="error"> {{ error }} </p>
</div>

</div>