h4{
    color: white; 
    margin-left: 10px;
}

p{
    color: grey;
    font-size: 20px;
}

.contenido{
    height: 1000px;
    justify-content: center;
    align-content: center;
}

.detalles{
    margin-top: 3%;
}

.showuser{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 64px);
}

.headerUser{
    display:flex;
    margin-bottom: 5px;
}

.editbtn{
    border-radius: 20px;
}

img{
    width: 800px;
    height: 400px;
    display: flex;
    margin-bottom: 30px;
}