
<div *ngIf="this.user" class="container-fluid showuser">
    <div class='headerUser'>
            <img src="https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAfxAAAAJDc2MDU4ZDIyLWNjYWMtNDYyYy04MmI2LWE2NDA2OTBmMjRhYw.jpg">

    </div> 
    <div class='headerUser'>
            <h4>{{user.name}} {{user.surname}}</h4>
        </div>
    <div class='headerUser'>
        <p>Username:</p>
        <h4>@{{user.username}}</h4>
    </div>
    <div class='headerUser'>
        <p>Email:</p>
        <h4>{{user.email}}</h4>
    </div>
    <div class='headerUser'>
        <p>Cash:</p>
        <h4>{{user.cash}}€</h4>
    </div>
    <div class='headerUser'>
        <p>Investments:</p>
        <h4>{{user.orders}} None</h4>
    </div>
    <a [routerLink]="['/user/edit/', user._id]">
        <button class="btn btn-primary editbtn"> Edit </button>
    </a>
</div>
